.markdown-deck-root {
  display: block;
  min-height: 400px;
  height: 100%;
}

.deck {
  height: 100%;
  width: 100%;
  outline: none;
}

.deck.editing {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.deck.editing .slide-column {
  min-width: 400px;
}

.print-wrap {
  height: 100%;
}

.editor {
  height: 100%;
  width: 100%;
  padding: 15px 18px;
  border: 0px solid transparent;
  box-sizing: border-box;
  color: #666;
  background-color: #F7F7F7;
  font: 16px/1.6em monospace;
  resize: none;
}

.editor:focus {
  color: #111;
  outline: none;
  box-shadow: inset 0 0 100px #EEE;
}

.deck.editing .editor {
  min-width: 300px;
}

.slide-column {
  height: 100%;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 0;
}

.progress-bar .progress {
  position: relative;
  bottom: 3px;
  height: 3px;
  opacity: 0.85;
  background-color: black;
  transition: width 0.6s;
}

.progress-bar .progress.invert {
  filter: invert(100%);
}

@media (max-width: 800px) {
  .deck.editing .slide {
    display: none;
  }
}

.preload {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
