.slide {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide.invert {
  filter: invert(100%);
}

.slide.invert img {
  filter: invert(100%);
}

.content {
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
